<div class="frame2">
            
                <div class="image2">
                    <img src="assets\images\f1.jpg" height="350" width="200">
                    <p style="text-align:center;">Ronaldo</p>
                </div>
                <div class="image2">
                    <img src="assets\images\f2.jpg" height="350" width="200">
                    <p style="text-align:center;">Messi</p>
                </div>
                <div class="image2">
                    <img src="assets\images\f3.jpg" height="350" width="200">
                    <p style="text-align:center;">Neymar Jr</p>
                </div>
</div>