.main{
    border-color: darkblue;
    border-width: 1900px;
    height: 570px;
    border: 2px solid;
    padding: 20px 20px;
}

p{
    text-align: center;
    text-shadow: darkgray;
    font-size: medium;
}